#root {
    -fx-background-color: linear-gradient(lightgray, gray);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#bp {
    -fx-background-color: linear-gradient(gray, DimGrey);

}

#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(orange, orangered);
}

#text {
    -fx-fill: linear-gradient(orange, orangered);
}